<div id="about" data-role="page"></div>
<script type="text/template" id="tpl_about">
    <div class="page-header">
        <h1><%= about_title %></h1>
    </div>

	<div class="alert alert-success">
		<p><%= about_desc1 %></p>
		<a href="https://github.com/charnekin"><%= about_git %></a>
	</div>
	<div class="alert alert-warning">
		<p><%= about_twitter %></p>
		<a href="https://twitter.com/Charnekin">@charnekin</a>
	</div>
	<div class="alert alert-info">
		<p><%= about_email %></p>
		<a href="mailto:juanantonio.charneco@gmail.com">juanantonio.charneco@gmail.com</a>
	</div>
	
    <ul class="pager">
      <li><a class="nextButton" href="#home"><%= about_button %></a></li>
    </ul>
</script>


