<div id="home" data-role="page"></div>
<script type="text/template" id="tpl_home">
    <div class="page-header">
        <h1><%= home_title %></h1>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= home_pane_title %></h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li><a class="pane1" href="#example1"><%= home_pane1 %></a></li>
            <li><a class="pane2" href="#example2"><%= home_pane2 %></a></li>
            <li><a class="pane3" href="#example3"><%= home_pane3 %></a></li>
        </ul>
      </div>
    </div>
    <p><%= home_desc1 %></p>
    <ul class="pager">
      <li><a class="nextButton" href="#example1"><%= home_button%></a></li>
    </ul>
</script>



